@font-face {
    font-family: "Futura-Med";
    src: url(fonts/Futura-Med.ttf);
}

@font-face {
    font-family: "Futura-MedObl";
    src: url(fonts/Futura-MedObl.ttf);
}

@font-face {
    font-family: "Futura-Boo";
    src: url(fonts/Futura-Boo.ttf);
}

* {
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover{
    box-shadow: 0 0 15px #ccc;
}

.main-visual {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-visual img {
    width: 900px;
}

.main-visual ul {
    top: 20px;
    right: 50px;
    float: right;
    position: absolute;
}

.main-visual li {
    font-size: 30px;
    display: inline-block;
    margin: 13px;
    font-family: "Futura-Med";
}

.main-visual ul li a{
    transition:0.5s;
}

.main-visual ul li a:hover{
    color: #3d5cdb;
}


.main-visual .element {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-visual h1 {
    margin-top: 34px;
    font-size: 50px;
    color: #fff;
    font-family: "Futura-MedObl";
    text-align: center;
}

.contents {
    background-color: #fff;
}

.contents h1 {
    font-family: "Futura-Med";
    color: #3d5cdb;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 45px;
}

#introduction .element {
    width: 1040px;
    margin: 0px 50% 90px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#introduction img {
    width: 500px;
    float: left;
}

.sentence {
    float: left;
    width: 400px;
    padding: 20px 50px;
}

.left {
    margin-right: 40px;
}

.right {
    margin-left: 40px;
}

#introduction p {
    width: 400px;
    line-height: 32px;
    letter-spacing: -1px;
    font-size: 15px;
    margin: 0 auto 30px;
    color: #333;
}

#introduction a {
    width: 80px;
    background-color: #ffbf00;
    border: 0px solid #ffbf00;
    border-radius: 12px;
    padding: 5px 45px;
    font-size: 20px;
    font-weight: bolder;
    margin: 0 auto;
    display: block;
}

#introduction .right a{
    background-color: #3d5cdb;
    border: 0px solid #3d5cdb;
}

#courses{
    background-color: rgba(0,0,0,0);
    position: relative;
    padding: 45px;
}

#particles-js{
    background-color: rgba(186,213,245,0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

#courses h1{
    margin-top: 0;
    margin-bottom: 40px;
}

#courses ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1048px;
    margin: 0 auto;
    justify-content: center;
}

#courses li {
    list-style: none;
    margin: 15px 10px;
}

#courses .element {
    width: 240px;
    height: 340px;
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 12px;
}

 .img {
    width: 240px;
    height: 210px;
    margin-bottom: -10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#courses img {
    width: 100px;
}

#courses h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    color: #333;
}

#courses a {
    box-sizing: border-box;
    width: 170px;
    font-size: 12px;
    font-weight: bolder;
    padding: 11px 30px;
    border-radius: 12px;
    margin: 20px auto 35px;
    display: block;
}

#html a {
    background-color: #ec6433;
}

#css a {
    background-color: #45aadf;
}

#unity a {
    background-color: #333333;
}

#ruby a {
    background-color: #ea4d4e;
}

#js a {
    background-color: #fcd733;
}

#swift a {
    background-color: #ed7233;
}

#go a {
    background-color: #73cedd;
}

#images img{
    width:105%;
}

#images .slider{
    margin: 0 90px 140px;
}

#access h1{
    margin-bottom: 45px;
}

iframe{
    display: block;
    margin: 0 auto 60px;
}

footer{
    font-family: "Futura-Med";
    font-size: 9px;
    transform: scale(0.95,1);
    font-kerning: none;
    text-align: center;
    color: #3d5cdb;
}

